/* REMOVE THIS SHIT */
html {
    background: #F5F5F6;
}
body {
    padding: 60px 0;
}

/* END REMOVE THIS SHIT */

.datepicker {
    width: 730px;
    margin: 0 auto;
    
	-webkit-user-select: none;
	   -moz-user-select: none;
		 -o-user-select: none;
			user-select: none;

	cursor: default;
}

/* 
    MONTHS HEADER AREA
*/
    .dp-months-holder {
        padding: 7px 0;
        position: relative;
        overflow: hidden;
    }
        .dp-months-holder .calendar-month-labels {
            overflow: hidden;
            font-size: 9px;
            line-height: 12px;
            color: #7f7f7f;
            text-transform: uppercase;
            text-align: center;
        }
        .dp-months-holder .calendar-month-labels > li {
            width: 8.3%;
            display: inline-block;
            float: left;

/*            -moz-box-sizing: border-box;
            border-left: 1px solid #ccc;*/
        }
        .dp-months-holder .dp-viewport-sel {
            width: 10px;
            height: 80%;
            
            margin-top: 3px;
            
            display: none;
            
            position: absolute;
            left: 0;
            top: 0;
            
            -moz-opacity: .5;
                 opacity: .5;

            -ms-filter: alpha(opacity=50);
                filter: alpha(opacity=50);
            
            border-left: 1px solid #064678;
            border-right: 1px solid #064678;
            
            background: #fff;
            
            pointer-events: none;
        }
        .controls .dp-months-holder .dp-viewport-sel {
            display: block;
        }
        .dp-months-holder .dp-viewport {
            width: 50px;
            height: 100%;

            display: block;
            
            position: absolute;
            left: 0;
            top: 0;
            
            -moz-opacity: .5;
                 opacity: .5;

            -ms-filter: alpha(opacity=50);
                filter: alpha(opacity=50);

            border-top: 1px solid #c6c9cb;
            background: #dde0e2 url('img/datepicker/dp-dots.png') no-repeat center center;
            
            cursor: move;
            cursor: -moz-grab;
        }
        .dp-months-holder .dp-viewport:active {
            cursor: -moz-grabbing;
        }

/* 
    CALENDARRRR AREA
*/
   .datepicker .dp-cal-crop {
       height: 70px;
       position: relative;
       overflow: hidden;
   }
       .datepicker .dp-cal-wrap {
           position: absolute;
           left: 0;
           top: 0;
       }
       .datepicker .dp-cal-wrap.dragging {
           cursor: col-resize;
       }

/* CALENDARRR */
            .datepicker .calendar-list {
                width: 90000px;
                
                margin-left: -1px;
                border-top: 1px solid #dcdfe2;
                background: #fff;
                text-align: center;
            }
                .datepicker .calendar-day {
                    width: 30px;
                    height: 57px;
            
                    padding-top: 5px;

                    display: inline-block;
                    vertical-align: top;
                    
                    border-left: 1px solid #dcdfe2;
                }
                .datepicker .calendar-day.monthlabel {
                    position: relative;
                    border-left: 1px solid #bbb;
                }
                .datepicker .calendar-day.past {
                    -moz-opacity: .1;
                         opacity: .1;

                    -ms-filter: alpha(opacity=10);
                        filter: alpha(opacity=10);
                }
                    .datepicker .calendar-day > span {
                        display: block;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 14px;
                        color: #4c4c4c;
                    }
                    .datepicker .calendar-day > span > em {
                        margin-top: 3px;
                        display: block;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 11px;
                        color: #b7b7b7;
                    }
                    .datepicker .calendar-day.weekend > span {
                        color: #c24c4c;
                    }
                    .datepicker .calendar-day.weekend > span > em {
                        color: #f0b8ba;
                    }
                    .datepicker .calendar-day > strong {
                        padding: 5px 7px;

                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        font-size: 11px;
                        line-height: 11px;
                        color: #b7b7b7;
                        
                        background: #fff;
                    }
/* 
    CALENDARRR CONTROLZ
 */
            .datepicker .dp-cal-controls {
                display: none;
            }
            .datepicker.controls .dp-cal-controls {
                display: block;
            }
                    .datepicker .dp-cal-middle-area {
                        width: 10px;
                        height: 100%;
                        
                        margin-left: -1px;
                        
                        display: block;
                        
                    	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .4) inset;
                    	   -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .4) inset;
                    	   		box-shadow: 0 0 0 3px rgba(0, 0, 0, .4) inset;
                        
                        position: absolute;
                        left: -100%;
                        top: 0;
                        
                        -moz-opacity: 0;
                             opacity: 0;

                        -ms-filter: alpha(opacity=0);
                            filter: alpha(opacity=0);

                        background: #fff url('img/datepicker/dp-dots.png') no-repeat center 45px;
                        background: rgba(255, 255, 255, .4) url('img/datepicker/dp-dots.png') no-repeat center 45px;
                        cursor: move;
                        cursor: -moz-grab;
                    }
                    .datepicker .dp-cal-middle-area:hover {
                        -moz-opacity: .5;
                             opacity: .5;

                        -ms-filter: alpha(opacity=50);
                            filter: alpha(opacity=50);
                    }
                    .datepicker .dp-cal-middle-area:active {
                        cursor: -moz-grabbing;
                    }
                    .datepicker .dragging .dp-cal-middle-area {
                        display: none;
                    }
                    .datepicker .dp-cal-cover {
                        width: 100%;
                        height: 100%;
            
                        margin-left: 2px;
            
                        display: block;
            
                        position: absolute;
                        left: -100%;
                        top: 0;
                    }
                    .datepicker .dp-cal-cover.dp-cal-left-area {
                        margin-left: -4px;
                    }
                        .datepicker .dp-translucency {
                            height: 100%;

                            display: block;
                
                            -moz-opacity: .2;
                                 opacity: .2;

                            -ms-filter: alpha(opacity=20);
                                filter: alpha(opacity=20);
                            background: #505f6c;
                        }
                        .datepicker.ie .dp-translucency {
                            background: url('img/datepicker/ie_trans.png');
                        }
                        .datepicker .dp-cal-handle {
                            width: 24px;
                            height: 65px;
                
                            margin-left: -6px;

                            display: block;

                            position: absolute;
                            left: 0;
                            top: 0;
            
                            background: url('img/datepicker/dp-right-handle.png') no-repeat;
                            cursor: col-resize;
                        }
                        .datepicker .dp-cal-handle.dp-cal-left-handle {
                            margin-right: -6px;
                            left: auto;
                            right: 0;
                
                            background: url('img/datepicker/dp-left-handle.png') no-repeat;
                        }
